/*
*Desktop
*/
section#BlocHomeSectionPuzzle {
  padding-top: 85px; //Mitad de la versión desktop
  padding-bottom: 141px; //Mitad de la versión desktop
  background-image: linear-gradient(360deg, #eeeeee 45%, transparent 45%);

  .contenedor {
    max-width: 1600px;
    padding: 0 66px;
    margin: 0 auto;

    .square-info {
      height: fit-content;
      .box-img {
        width: 100%;
        max-height: 708px;
        display: flex;
        align-items: center;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          right: 0;
          background-color: black;
          max-width: 920px;
          top: 62px;
          border-radius: 8px;
          // !Bajar esto en lo 1400
          @media screen and (max-width: 1400px) {
            width: 80%;
          }
        }

        .bg-img-movil {
          display: none;
        }

        .bg-img,
        .bg-img-movil {
          background-color: #f5333f;
          overflow: hidden;
          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .bg-img {
          z-index: 2;
          max-height: 647px;
          max-width: 896px;
          aspect-ratio: 1.38;
          position: relative;
          border-radius: 8px;
          margin: 0;
          width: 100%;

          // !Bajar esto en lo 1490 y ando
          @media screen and (max-width: 1440px) {
            width: 65%;
          }
          & > img {
            background: url(<path-to-image>),
              lightgray -214px -124.141px / 126.004% 128.084% no-repeat;
          }

          .gradient {
            position: absolute;
            right: 0;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            pointer-events: none;
            & > svg {
              fill: linear-gradient(
                266deg,
                rgba(0, 0, 0, 0.49) -19.47%,
                rgba(0, 0, 0, 0) 74.41%
              );
            }
          }
        }
      }

      .content {
        width: 30%;
        height: fit-content;
        gap: 120px;
        z-index: 5;
        position: relative;
        padding-top: 50px;
        // padding-top
        @media screen and (max-width: 1400px) {
          padding-top: 100px;
        }

        .line {
          width: fit-content;
          margin-left: -160px;
          margin-bottom: 7px;
          border-top: 0;
          border-left: 0;
          border-right: 0;
        }

        .title-section-puzzle,
        .title-section-puzzle-movil {
          max-width: 396px;
          color: #fff;
          font-family: "Tabular-Bold";
          font-size: 56px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%; /* 100% */
          margin: 0 0 27px -60px;
        }

        .title-section-puzzle-movil {
          display: none;
        }

        .paragraph {
          max-width: 389px;
          color: #fff;
          font-family: "Inter";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 135.714%; /* 135.714% */
          margin: 0 0 0 37px;
        }

        .box-button {
          margin-top: 30px;
          text-align: end;
          .btn-red {
            padding: 8px 46px 9px 41px;
            border-radius: 15.5px;
            background-color: #f5333f;
            color: white;
            font-family: "Inter";
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 116.667%; /* 116.667% */
            letter-spacing: 0.78px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

/*
*Movil
*/
@media screen and (max-width: 1200px) {
  section#BlocHomeSectionPuzzle {
    padding-top: 37px; //Mitad de la versión movil
    padding-bottom: 20px; //Mitad de la versión movil
    background-image: linear-gradient(360deg, #eeeeee 64%, transparent 45%);
    .contenedor {
      padding: 0 16px;
      .square-info {
        max-width: 630px;
        margin: 0 auto;
        .box-img {
          max-height: unset;
          flex-direction: column;
          z-index: 1;

          &::before {
            width: 86.3%;
            height: 50%;
            top: unset;
            bottom: 80px;
            z-index: -1;
            max-width: unset;
            max-height: 420px;
            border-radius: 4.623px;
          }

          .bg-img-movil {
            max-height: 420px;
            width: 86.3%;
            border-radius: 4.623px;
            display: block;
            aspect-ratio: 0.79;
            margin-right: auto;
            margin-bottom: 0;
            background-color: transparent;
          }

          .bg-img {
            display: none;
            .gradient {
              display: none;
            }
          }
        }
        .content {
          width: 86.3%;
          padding: 39px 26px 42px 47px;
          right: 0;
          margin-left: auto;
          top: -95px;
          .line {
            display: none;
          }

          .title-section-puzzle {
            display: none;
          }
          .title-section-puzzle-movil {
            display: block;
            max-width: 294px; //185px
            font-size: 33.798px;
            margin: 0 0 16px;
          }

          .paragraph {
            font-size: 12px;
            margin: 0;
          }

          .box-button {
            margin-top: 30px;
            text-align: start;
          }
        }
      }
    }
  }
}
