section#BlocHomeSectionPuzzle {
  padding-top: 37px; //Mitad de la versión movil
  padding-bottom: 100.5px; //Mitad de la versión movil

  .container {
    max-width: 1500px;
    padding: 0 16px;
    margin: 0 auto;
    height: 100vh;
    background-color: black;
    // .square-content {
    //   margin: 0 auto;
    //   //   imagenes y colores
    //   .box-flex {
    //     display: flex;
    //     flex-direction: column;

    //     .item {
    //       border-radius: 4.828px;
    //       width: 79.24%;
    //       margin-bottom: 0;
    //       margin-top: 0;
    //       overflow: hidden;
    //       flex-shrink: 0;
    //       height: 390px;

    //       //   adaptar el cuadro negro
    //     }

    //     .left {
    //       margin-right: auto;
    //     }

    //     .right {
    //       margin-left: auto;
    //       position: relative;
    //       .text {
    //         position: relative;
    //         z-index: 3;
    //         .title-section {
    //           color: #fff;
    //           font-family: "Tabular-Bold";
    //           font-size: 33.798px;
    //           font-style: normal;
    //           font-weight: 700;
    //           line-height: 100%; /* 100% */
    //           margin-bottom: 3vh;
    //         }

    //         .paragraph {
    //           color: #fff;
    //           font-family: "Inter";
    //           font-size: 12px;
    //           font-style: normal;
    //           font-weight: 400;
    //           line-height: 133.333%; /* 133.333% */
    //           margin: 0;
    //         }

    //         .box-button {
    //           margin-top: 3.5vh;
    //           text-align: center;
    //           .btn-red {
    //             padding: 8px 46px 9px 41px;
    //             border-radius: 15.5px;
    //             background-color: #f5333f;
    //             color: white;
    //             font-family: Inter;
    //             font-size: 12px;
    //             font-style: normal;
    //             font-weight: 700;
    //             line-height: 116.667%; /* 116.667% */
    //             letter-spacing: 0.78px;
    //             text-transform: uppercase;
    //           }
    //         }
    //       }
    //     }

    //     .bg-CH-photo {
    //       position: relative;
    //       z-index: 1;
    //       aspect-ratio: 1.49;
    //       &::after {
    //         z-index: 2;
    //         content: "";
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         right: 0;
    //         bottom: 0;
    //         //   background: url(<path-to-image>),
    //         //     lightgray -210.638px -43.025px / 192.384% 111.743% no-repeat;
    //         background: url(<path-to-image>),
    //           black -210.638px -43.025px / 192.384% 111.743% no-repeat; // este se parece
    //         opacity: 0.1;
    //       }
    //       .photo {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //       }
    //     }

    //     .bg-CH-dark {
    //       position: relative;
    //       &::before {
    //         position: absolute;
    //         top: -75px;
    //         left: 0;
    //         bottom: 0;
    //         right: 0;
    //         content: "";
    //         background-color: #000;
    //         width: 100%;
    //       }
    //     }
    //   }

    //   //   //   contenido
    //   //   .BlockPuzzle_content {
    //   //     display: grid;
    //   //     grid-template-columns: 1fr;
    //   //     position: absolute;
    //   //     top: 0;
    //   //     z-index: 5;
    //   //     padding: 0 !important;

    //   //     .left-column-opacity {
    //   //       height: 290px;
    //   //       width: 79.24%;
    //   //     }

    //   //     .right-column {
    //   //       width: 79.24%;
    //   //       padding: 0 42px 42px 47px;
    //   //       margin-left: auto;
    //   //       .title-section {
    //   //         color: #fff;
    //   //         font-family: "Tabular-Bold";
    //   //         font-size: 33.798px;
    //   //         font-style: normal;
    //   //         font-weight: 700;
    //   //         line-height: 100%; /* 100% */
    //   //         margin-bottom: 3vh;
    //   //       }

    //   //       .paragraph {
    //   //         color: #fff;
    //   //         font-family: "Inter";
    //   //         font-size: 12px;
    //   //         font-style: normal;
    //   //         font-weight: 400;
    //   //         line-height: 133.333%; /* 133.333% */
    //   //         margin: 0;
    //   //       }

    //   //       .box-button {
    //   //         margin-top: 3.5vh;
    //   //         text-align: center;
    //   //         .btn-red {
    //   //           padding: 8px 46px 9px 41px;
    //   //           border-radius: 15.5px;
    //   //           background-color: #f5333f;
    //   //           color: white;
    //   //           font-family: Inter;
    //   //           font-size: 12px;
    //   //           font-style: normal;
    //   //           font-weight: 700;
    //   //           line-height: 116.667%; /* 116.667% */
    //   //           letter-spacing: 0.78px;
    //   //           text-transform: uppercase;
    //   //         }
    //   //       }
    //   //     }
    //   //   }
    // }
  }
}

// // cambio a desktop
// @media screen and (min-width: 768px) {
//   section#BlocHomeSectionPuzzle {
//     padding-top: 85px; //Mitad de la versión pc
//     padding-top: 71px; //Mitad de la versión pc
//     .container {
//       .square-content {
//         width: 100%;
//         margin: 0;
//         height: 708px;
//         //   imagenes y colores
//         .box-flex {
//           height: 70%;
//           flex-direction: row;
//           .item {
//             height: auto;
//             &:first-child {
//               width: 60%;
//               max-width: 896px;
//               min-height: 400px;
//               max-height: 646.89px;
//             }

//             //   adaptar el cuadro negro
//             &:last-child {
//               margin-left: -30%;
//               width: 70%;
//               max-width: 920px;
//               height: auto;
//               min-height: 500px;
//               max-height: 648.89px;
//             }
//           }

//           .left,
//           .right {
//             margin-left: 0;
//             margin-right: 0;
//           }

//           .bg-CH-dark {
//             margin-top: 62px;
//           }
//         }

//         //   contenido
//         .BlockPuzzle_content {
//           grid-template-columns: repeat(2, 1fr);
//           top: 50%;
//           transform: translateY(-50%);
//           padding: 0 !important;

//           .left-column-opacity {
//             height: fit-content;
//             width: 100%;
//           }

//           .right-column {
//             width: 100%;
//             padding: 0;
//             margin-left: 0;
//             .title-section {
//               font-size: 40px; // 56 mas desktop
//               margin-bottom: 3vh;
//             }

//             .paragraph {
//               font-size: 14px;
//             }

//             .box-button {
//               margin-top: 3.5vh;
//               text-align: end;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (min-width: 1300px) {
//   section#BlocHomeSectionPuzzle {
//     .container {
//       padding-left: 66px;
//       padding-right: 66px;
//       .square-content {
//         //   imagenes y colores
//         .box-flex {
//           justify-content: center;
//           .item {
//             height: auto;
//             &:first-child {
//               width: 65%;
//             }
//           }
//         }

//         //   contenido
//         .BlockPuzzle_content {
//           left: 50%;
//           top: 50%;
//           transform: translate(-50%, -50%);

//           .right-column {
//             width: 100%;
//             padding: 0;
//             margin-left: 0;
//             .title-section {
//               font-size: 56px;
//             }

//             .paragraph {
//               font-size: 14px;
//             }

//             .box-button {
//               margin-top: 3.5vh;
//               text-align: end;
//             }
//           }
//         }
//       }
//     }
//   }
// }
