section#BlocHomeSliderProduct {
  padding-top: 48px;
  padding-bottom: 37px;
}
section#BlocHomeSliderProduct .contenedor {
  padding: 0;
}
section#BlocHomeSliderProduct .contenedor .title-section {
  color: var(--Negro, #000);
  text-align: center;
  font-family: "Tabular-Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 100% */
  margin: 0 0 35px;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect {
  width: 100%;
  height: 330px;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper {
  display: flex;
  align-items: center;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide {
  width: 170.329px;
  height: 253px;
  overflow: hidden;
  position: relative;
  border-radius: 4.683px;
  transition: 0.8s;
  aspect-ratio: 0.673;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide .box-img {
  width: 100%;
  height: 100%;
  position: relative;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide .box-img > img {
  filter: drop-shadow(0px 2.34129691px 14.63310528px rgba(0, 0, 0, 0.16));
  height: 100%;
  object-fit: cover;
  object-position: center;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide .box-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, #000000 30%, #fff 190%);
  opacity: 0.1;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide .arrow {
  position: absolute;
  bottom: 0;
  left: 22px;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide .arrow .hover-arrow {
  transition: 0.8s ease;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  left: -5px;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide .arrow .arrow-opacity {
  transition: 0.1s;
  opacity: 1;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide .text-info {
  position: absolute;
  bottom: 27px;
  left: 22px;
  color: #fff !important;
  /* display-extrasmall */
  font-family: "Tabular-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 116.667%;
  /* 116.667% */
  z-index: 3;
  margin: 0;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:hover {
  transform: scale(1.1);
  overflow: visible;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:hover .arrow .arrow-opacity {
  opacity: 0;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:hover .arrow .hover-arrow {
  transform: scaleX(1);
  opacity: 1;
  width: fit-content;
  left: 0;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:nth-child(1),
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:nth-child(3),
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:nth-child(5) {
  margin-top: 40px;
}
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:nth-child(2),
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:nth-child(4),
section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:nth-child(6) {
  margin-bottom: 40px;
}
section#BlocHomeSliderProduct .contenedor .box-button {
  margin-top: 75.24px;
  text-align: center;
}
section#BlocHomeSliderProduct .contenedor .box-button .btn-red {
  padding: 8px 46px 9px 41px;
  border-radius: 15.5px;
  background-color: #f5333f;
  color: white;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 116.667%;
  /* 116.667% */
  letter-spacing: 0.78px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  section#BlocHomeSliderProduct {
    padding-top: 59px;
    padding-bottom: 85px;
  }
  section#BlocHomeSliderProduct .contenedor .title-section {
    font-size: 56px;
  }
  section#BlocHomeSliderProduct .contenedor #mySwiper_proyect {
    width: 100%;
    height: 586px;
  }
  section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide {
    width: 291px;
    height: 432px;
  }
  section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide .arrow {
    left: 33px;
  }
  section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide .text-info {
    max-width: 217px;
    bottom: 47px;
    left: 36px;
  }
  section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:nth-child(1),
  section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:nth-child(3),
  section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:nth-child(5) {
    margin-top: 79px;
  }
  section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:nth-child(2),
  section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:nth-child(4),
  section#BlocHomeSliderProduct .contenedor #mySwiper_proyect .swiper-wrapper .swiper-slide:nth-child(6) {
    margin-bottom: 79px;
  }
  section#BlocHomeSliderProduct .contenedor .box-button {
    margin-top: 91px;
  }
}
