section#BlocHomeEmpresasColaboradoras {
  padding-bottom: 41.78px;
  background-color: #eeeeee;
}
section#BlocHomeEmpresasColaboradoras .contenedor {
  max-width: 1245px;
  padding: 0 44px;
  margin: 0 auto;
}
section#BlocHomeEmpresasColaboradoras .contenedor .title-section {
  font-family: "Tabular-Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 100% */
  color: black;
  text-align: center;
  max-width: 289px;
  margin: 0 auto 50px;
}
section#BlocHomeEmpresasColaboradoras .contenedor .box-flex {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 65px;
}
section#BlocHomeEmpresasColaboradoras .contenedor .box-flex .item {
  text-align: center;
  object-fit: contain;
}
section#BlocHomeEmpresasColaboradoras .contenedor .box-flex .item:first-child {
  width: 100%;
}
section#BlocHomeEmpresasColaboradoras .contenedor .box-flex .item .logo {
  width: 100%;
}
@media screen and (min-width: 768px) {
  section#BlocHomeEmpresasColaboradoras {
    padding-top: 71px;
    padding-bottom: 90px;
  }
  section#BlocHomeEmpresasColaboradoras .contenedor .title-section {
    font-size: 56px;
    margin: 0 auto 78px;
    max-width: 630px;
  }
  section#BlocHomeEmpresasColaboradoras .contenedor .box-flex {
    gap: 85px 0;
    align-items: end;
  }
  section#BlocHomeEmpresasColaboradoras .contenedor .box-flex .item {
    width: 25% !important;
  }
}
